.Corpo-container{
border-color: black;
border-left: 2px solid rgb(173, 172, 172);
}
.GerenciamentoDaconta{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    color: rgb(32, 32, 32);
    margin: 50px 0;
    margin-left: 65px;
}
.separador{
    width: 1px;
    height: 40px;
    opacity: 0.5;
    background-color: #d9d9d9;
    list-style-type: none;
    margin: auto;
    margin-top: 10px;
}